{{- if not (include "act-runner-scale-set.useScaledJob" .) -}}
{{- $fullname := include "act-runner-scale-set.fullname" . -}}
apiVersion: apps/v1
{{- if .Values.persistence.enabled }}
kind: StatefulSet
{{- else }}
kind: Deployment
{{- end }}
metadata:
  name: {{ $fullname }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "act-runner-scale-set.labels" . | nindent 4 }}
  {{- with .Values.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if and (not .Values.autoscaling.enabled) (not .Values.keda.enabled) }}
  replicas: {{ .Values.replicas }}
  {{- end }}
  {{- if .Values.persistence.enabled }}
  serviceName: {{ $fullname }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "act-runner-scale-set.selectorLabels" . | nindent 6 }}
  template:
    {{- include "act-runner-scale-set.runnerPodTemplate" . | nindent 4 }}

  {{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: runner-data
        labels:
          {{- include "act-runner-scale-set.selectorLabels" . | nindent 10 }}
      spec:
        accessModes:
          - {{ .Values.persistence.accessMode }}
        {{- if .Values.persistence.storageClass }}
        storageClassName: {{ .Values.persistence.storageClass | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.persistence.size }}
  {{- end }}
{{- end }}
